<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="public-feed" value="..\public-feed" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="public-feed"><package pattern="*" /></packageSource>
  </packageSourceMapping>
</configuration>
